<div class="BackGround">
  <div class="div">
      <div class="card">
          <div class="card-body">
              <hr>
              <div class="row text-center">
                <div class="col">
                  <h2 class="text-success icons"><i class="bi bi-patch-check"></i></h2>
                  <h4 class="text-success">Les données ont été enregistrées avec succès </h4>
                  <h4 class="text-center text-secondary">Register en successful</h4>
                  <h4><div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  </h4>
                </div>
              </div>
              <hr>
          </div>
      </div>
  </div>
</div>
