<div>
    <div class="row m-2">
        <div class="col">
            <h1 class="text">Nouvel Stagiaires</h1>
        </div>
    </div>
    <hr>
    <form [formGroup]="forms_Stagiaires"  (submit)="on_submit_forms_stagiairesr()" >

        <div class="row m-2" *ngIf="MsgError">
            <div class="col">
                <div class="alert alert-danger">
                    <p> {{MsgError}} </p>
                </div>
            </div>
        </div>
        <div class="row m-2" *ngIf="MsgValide">
            <div class="col">
                <div class="alert alert-success">
                    <h4> {{MsgValide}} </h4>
                </div>
            </div>
        </div>

        <div class="row m-2">
            <div class="row">
                <div class="col">
                    <h4>Renseignements Stagiaires</h4>
                </div>
            </div>
            <hr>

            <div class="col">
                <label for="">Prénom  (*): </label>
                <input type="text" class="form-control" placeholder="Firstname" formControlName="firstname" id="">
            </div>
            <div class="col">
                <label for="">Nom  (*): </label>
                <input type="text" class="form-control" placeholder="Lastname" formControlName="lastname" id="">
            </div>
            <div class="col">
                <label for="">Date Naissance  (*): </label>
                <input type="date" class="form-control" placeholder="Date Of Birth" formControlName="datebirth" id="">
            </div>
            <div class="col">
                <label for="">Lieu Naissance  (*): </label>
                <input type="text" class="form-control" placeholder="Place Birth" formControlName="placeBirth" id="">
            </div>
            <div class="col">
                <label for="">CIN (*) : </label>
                <input type="text" class="form-control" placeholder="ID" formControlName="cin" id="">
            </div>
        </div>
        <div class="row m-2">
            <div class="col">
                <label for="">Pays (*) : </label>
                <input type="text" class="form-control" placeholder="country" formControlName="country" id="">
            </div>
            <div class="col">
                <label for="">Ville (*) : </label>
                <input type="text" class="form-control" placeholder="city" formControlName="city" id="">
            </div>
            <div class="col">
                <label for="">Date Commencement (*) : </label>
                <input type="date" class="form-control" placeholder="city" formControlName="datestart" id="">
            </div>
            <div class="col">
                <label for="">Téléphone (*) : </label>
                <input type="text" class="form-control" placeholder="phone" formControlName="phone" id="">
            </div>

        </div>
        <div class="row m-2">
            <div class="col">
                <label for="">Ecole / Etablissement (*)  : </label>
                <input type="text" class="form-control" placeholder="School / Establishment " formControlName="school" id="">
            </div>
            <div class="col">
                <label for="">Image  : </label>
                <input type="file" accept=".png,.jpg" class="form-control" placeholder="pectur" formControlName="img" id="">
                <a type="button" class="DownlaodImg"   >Télécharger  Image </a>
            </div>
            <div class="col">
                <label for="">Assurance  : </label>
                <input type="file" accept=".png,.jpg" class="form-control" placeholder="pectur" formControlName="assurance" id="">
                <a type="button" class="DownlaodImg"  >Télécharger  Image </a>
            </div>
            <div class="col">
                <label for="">Contrat de Stage  : </label>
                <input type="file" accept=".png,.jpg" class="form-control" placeholder="pectur" formControlName="ctrl_Stage" id="">
                <a type="button" class="DownlaodImg"  >Télécharger  Image </a>
            </div>
        </div>

        <div class="row m-2">
            <div class="row">
                <div class="col">
                    <h4>Information Professionnelle</h4>
                </div>
            </div>
            <hr>
            <div class="col">
                <!-- <label for=""></label> -->
                <label for="" class="">Département (*) : </label>
                <div class="input-group">
                    <select formControlName="department" class="form-select" id="">
                        <option *ngFor="let dep of Departement" [value]="dep"> {{dep}} </option>
                    </select>
                </div>
            </div>
            <div class="col">
                <label for="">Emploi (*) : </label>
                <input type="text" class="form-control" placeholder="Function" formControlName="fonction" id="">
            </div>
            <div class="col">
                <label for="">CV  (*): </label>
                <input type="file" accept=".png,.jpg" class="form-control" placeholder="pectur" formControlName="resume" id="">
                <a type="button" class="DownlaodImg" >Télécharger  Image </a>
            </div>
            <div class="col">
                <label for="">Etat (*) : </label>
                <select formControlName="etat" class="form-select" id="">
                    <option value="Stagiaires">Stagiaires</option>
                </select>
            </div>
        </div>

        <div class="row m-2">
            <div class="col"><br>
                <button class="btn btn-success">
                    <i class="bi bi-floppy2"></i>
                    submit</button>
            </div>
        </div>

    </form>
</div>