<div class="div">
    <div class="card"  >
        <div class="card-header">
            <div class="row text-center">
                <div class="col">
                    <h1>Changer Mot de Passe</h1>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row" *ngIf="">
                <div class="col">
                    <div class="alert alert-danger">
                        <p> </p>
                    </div>
                </div>
            </div>

            <form >
                <div class="row">
                    <div class="col">
                       <div class="input-group">
                            <label for="" class="input-group-text">Mot de passe : </label>
                            <input [type]="inputTypes" formControlName="mdp" placeholder="Password" class="form-control" id="">
                            <button type="button" class="btn btn-dark">
                                <i *ngIf="inputTypes==='password'" (click)="ChangeInputToText()" class="bi bi-eye"></i>
                                <i *ngIf="inputTypes==='text'" (click)="ChangeInputToPassword()" class="bi bi-eye-slash"></i>
                            </button>
                       </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                       <div class="input-group">
                            <label for="" class="input-group-text">Confirmez le mot de passe : </label>
                            <input [type]="inputTypes" formControlName="C_Mdp" placeholder="Confirm password" class="form-control" id="">
                            <button type="button" class="btn btn-dark">
                                <i *ngIf="inputTypes==='password'" (click)="ChangeInputToText()" class="bi bi-eye"></i>
                                <i *ngIf="inputTypes==='text'" (click)="ChangeInputToPassword()" class="bi bi-eye-slash"></i>
                            </button>
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 BtnFunction"><br>
                        <a class="btn btn-warning" routerLink="/UpdatePassword">
                            <i class="bi bi-box-arrow-in-right"></i>
                            Submit
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row text-center">
                <div class="col">
                    <p>&copy; Développer By Ismail El Bahini 2023 </p>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>