<div class="div">
    <div class="card"  >
        <div class="card-header">
            <div class="row text-center">
                <div class="col">
                    <h1>Récupération Mot de passe</h1>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row" *ngIf="MsgErrors">
                <div class="col">
                    <div class="alert alert-danger">
                        <p> {{ MsgErrors }} </p>
                        <i (click)="CloseAlertErrors()" class="bi bi-x-lg"></i>
                    </div>
                </div>
            </div>

            <form [formGroup]="Forms_RECOVER" (submit)="On_Submit_Recovry()">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="input-group">
                            <label for="" class="input-group-text">Email de récupération : </label>
                            <input type="email" formControlName="mail" placeholder="Recovery Email" class="form-control" id="">
                            <span class="btn btn-dark">
                                <i class="bi bi-person-circle"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 BtnFunction"><br>
                        <button class="btn btn-warning">
                            <i class="bi bi-box-arrow-in-right"></i>
                            Submit
                        </button>
                        <a class="btn btn-dark" routerLink="/login"> <i class="bi bi-x-circle"></i>  Annluer </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row text-center">
                <div class="col">
                    <p>&copy; Développer By Ismail El Bahini 2023 </p>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>